@model VitoriaAirlinesWeb.Data.Entities.Airport

@{
    ViewData["Title"] = "Delete Airport";
    ViewData["Role"] = "Admin";
}

<div class="main-content">
    <h2 class="text-danger">Delete Confirmation</h2>

    <div class="card p-4 bg-dark text-light">
        <h4>Are you sure you want to delete this airport?</h4>
        <dl class="row">
            <dt class="col-sm-3">IATA</dt>
            <dd class="col-sm-9">@Model.IATA</dd>

            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">City</dt>
            <dd class="col-sm-9">@Model.City</dd>
            <dt class="col-sm-3">Country</dt>
            <dd class="col-sm-9">
                <img src="@Model.Country.FlagImageUrl" alt="@Model.Country.CountryCode" width="30" class="me-2" />
                @Model.Country.Name
            </dd>
        </dl>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

