@model IEnumerable<VitoriaAirlinesWeb.Data.Entities.Flight>

@{
    ViewData["Title"] = "Flights History";
}


<div class="main-content">
    <h2>Flights History</h2>


    <table class="table table-striped table-custom">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Airplane Model</th>
                <th>Origin Airport</th>
                <th>Destination Airport</th>
                <th>Departure Date</th>
                <th>Arrival Date</th>
                <th>Duration</th>
                <th>Executive Price</th>
                <th>Economy Price</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in Model)
            {
                <tr>
                    <td>@flight.FlightNumber</td>
                    <td>@flight.Airplane.Model</td>

                    <td>
                        <img src="@flight.OriginAirport.Country?.FlagImageUrl"
                             alt="@flight.OriginAirport.Country?.CountryCode"
                             width="30"
                             class="me-2" />
                        @flight.OriginAirport.FullName
                    </td>

                    <td>
                        <img src="@flight.DestinationAirport.Country?.FlagImageUrl"
                             alt="@flight.DestinationAirport.Country?.CountryCode"
                             width="30"
                             class="me-2" />
                        @flight.DestinationAirport.FullName
                    </td>

                    <td>
                        @TimeZoneInfo.ConvertTimeFromUtc(flight.DepartureUtc, TimeZoneInfo.FindSystemTimeZoneById("Europe/Lisbon")).ToString("yyyy-MM-dd HH:mm")
                    </td>
                    <td>
                        @TimeZoneInfo.ConvertTimeFromUtc(flight.ArrivalUtc, TimeZoneInfo.FindSystemTimeZoneById("Europe/Lisbon")).ToString("yyyy-MM-dd HH:mm")
                    </td>
                    <td>@flight.Duration.ToString(@"hh\:mm")</td>
                    <td>@($"{flight.ExecutiveClassPrice:0.00} €")</td>
                    <td>@($"{flight.EconomyClassPrice:0.00} €")</td>

                    <td>
                        @switch (flight.Status)
                        {
                            case VitoriaAirlinesWeb.Data.Enums.FlightStatus.Departed:
                                <span class="badge bg-warning text-dark">Departed</span>
                                break;
                            case VitoriaAirlinesWeb.Data.Enums.FlightStatus.Completed:
                                <span class="badge bg-success">Completed</span>
                                break;
                            case VitoriaAirlinesWeb.Data.Enums.FlightStatus.Canceled:
                                <span class="badge bg-danger">Canceled</span>
                                break;
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")
}
