
@using Microsoft.AspNetCore.Identity
@using VitoriaAirlinesWeb.Data.Entities 
@using VitoriaAirlinesWeb.Helpers
@inject UserManager<User> UserManager

    @{
    var user = await UserManager.GetUserAsync(User);
    string role = "";

    if (user != null)
    {
        if (await UserManager.IsInRoleAsync(user, UserRoles.Admin))
        {
            role = "Admin";
        }
        else if (await UserManager.IsInRoleAsync(user, UserRoles.Employee))
        {
            role = "Employee";
        }
        else if (await UserManager.IsInRoleAsync(user, UserRoles.Customer))
        {
            role = "Customer";
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vitoria Airlines</title>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.6.6/css/flag-icons.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VitoriaAirlinesWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/29.1.33/fluent.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="https://cdn.syncfusion.com/ej2/29.1.33/dist/ej2.min.js"></script>
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="app-container">
    @if (role == "Admin") { <partial name="_AdminSidebar" /> }
else if (role == "Employee") { <partial name="_EmployeeSidebar" /> }
else if (role == "Customer") { <partial name="_CustomerSidebar" /> }



        <div class="page-container">
            <header>
                <nav class="navbar navbar-expand-sm navbar-light border-bottom box-shadow">
                    <div class="container-fluid">
                        @if (!string.IsNullOrEmpty(role))
                        {
                            <button id="hamburger" class="hamburger-button">
                                <span class="e-icons e-menu"></span>
                            </button>
                        }
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VitoriaAirlinesWeb</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"><span class="navbar-toggler-icon"></span></button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                            </ul>
                            <ul class="navbar-nav">
                                @if (User.Identity?.IsAuthenticated == true)
                                {
                                    user = await UserManager.GetUserAsync(User);
                                    var imagePath = user?.ImageFullPath ?? "https://brunablob.blob.core.windows.net/images/profilepic.png";


                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            <div class="d-flex flex-column align-items-center">

                                                <img src="@imagePath" class="rounded-circle mb-1" style="width: 35px; height: 35px; object-fit: cover;" alt="User Picture"/>
                                                <span>@user?.FullName</span>

                                            </div>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <li><a class="dropdown-item" asp-controller="Dashboard" asp-action="Index">My Dashboard</a></li>
                                            <li><a class="dropdown-item" asp-controller="Account" asp-action="EditProfile">Edit Profile</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                        </ul>
                                    </li>

                                }
                                else
                                {
                                    <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <main role="main" class="container-fluid py-3">
                @RenderBody()
            </main>

            <footer class="border-top footer text-muted">
                <div class="container-fluid">
                    © 2025 - VitoriaAirlinesWeb - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <ejs-scripts></ejs-scripts>

@if (!string.IsNullOrEmpty(role))
{
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            
            // Lógica do Hamburger Menu
            const sidebarInstance = document.getElementById('mainSidebar')?.ej2_instances?.[0];
            const hamburgerButton = document.getElementById('hamburger');
            if (sidebarInstance && hamburgerButton) {
                hamburgerButton.onclick = function () {
                    sidebarInstance.toggle();
                };
            }

            @if (role == UserRoles.Employee || role == UserRoles.Customer)
            {
                @:const menuItem = document.getElementById('manage-flights-menu-item');
                @:const submenu = document.getElementById('flights-submenu');

                @:if (menuItem && submenu) {
                    @:menuItem.addEventListener('click', function(event) {
                        @:event.preventDefault();
            
                        @:submenu.classList.toggle('open');
                        @:menuItem.classList.toggle('open');
                    @:});
                @:}
            }
        });
    </script>
}
 
    @RenderSection("Scripts", required: false)
</body>
</html>
